*, *::before, *::after {
    box-sizing:border-box;
}

body {
  font-family:"Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

/*GLOBALNE KLASY*/
/*/////////////////////////////////////////////////////////////////////////////*/

/*WYSRODKOWANIE*/
        .container {
          width: 1060px;
          margin: 0 auto;
          min-height: 1px;
          /*border: 1px solid red;*/
  }
/*BUTTON*/
        .btn {
          background-color: #57C7B0;
          border-radius: 5px;
          text-decoration: none;
          text-transform: uppercase;
          color: white;
          padding: 20px;
          font-weight: bold;
          border: 1px solid #57C7B0;
        }

        .btn:hover {
          background-color: white;
          border-radius: 5px;
          text-decoration: none;
          text-transform: uppercase;
          color: #57C7B0;
          padding: 20px;
          font-weight: bold;
          border: 1px solid #57C7B0;
        }

/*HEADER z nieieskim podkresleniem i przezroczystym tlem*/
        .title-line {
          font-weight: bold;
          padding: 25px 0px;
        }

        h2 {
          font-size: 20px;
        }

        .title-line {
          position: relative;
          background-color: rgba(255, 255, 255, 0.5);
        }

        .title-line::after {
          content: "";
          width: 50%;
          height: 8px;
          position: absolute;
          background-color: #57C7B0;
          top: 50px;
          left: 30px;
        }

        h3 strong, h2 strong {
          text-transform: uppercase;
        }

        .title-line::after {
          left: 0px;
          width: 30%;
        }

        .h2u {
          text-transform: uppercase;
        }

        .h3t {
          padding-left: 20px;
        }

        .h3t::after {
          left:20px;
          width: 50%;
        }

/*BACKGROUND IMG srolling effect*/
        .sect {
          height: 400px;
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;
        }

        /*.sub-sect {
          height: 80%;

        }*/

        .img1 {
          background-image: url("../images/baner3.jpg");
        }

        .img2 {
          background-image: url("../images/baner2.jpg");
        }

        .img3 {
          background-image: url("../images/baner1.jpg");
          background-position: bottom;
        }

/*STYLOWAIE POSZCZEGOLNYCH SEKCJI*/

/*HEADER-----------------------------------------------------------------------*/

.page-header {
  height: 40px;
  background: #000;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.page-nav {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  background-color: black;
  height: 40px;

}

.page-header .container {
  display: flex;
  justify-content: space-between;
}

.page-nav li {
  position: relative;
  display: inline-block;
  font-size: 15px;
  padding-top: 4px;
}


.page-nav li ul {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: black;
  z-index: 50;
}

.page-nav-submenu {
  visibility: hidden;
  font-size: 15px;
  padding: 5px;
}

.page-nav li:hover .page-nav-submenu {
  visibility: visible;
  z-index: 101;
}

.page-nav-submenu::before {
  content:"";
  width:0;
  height:0;
  border:10px solid transparent; /* rgba(0,0,0,0); */
  border-bottom-color:#000;
  position: absolute;
  left:50%;
  top:-19px;
  transform: translate(-50%, 0);
}

.page-nav-submenu::after {
    content:''; /* to jest czarny dziubek z bordera */
    position: absolute;
    left:0;
    top:-17px;
    transform: translate(-50%, 0);
    width:200%;
    height:17px;
}



.page-nav li a {
  display: inline-block;
  padding: 8px;
}



.page-nav li a {
  color: white;
  text-decoration: none;
  font-weight:600;
}

.page-nav li:hover > a,
.page-nav li li:hover a {
  color: #57C7B0;
}


/*BANER----------------------------------------------------------------------*/
.section1 {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);
}

.baner {
  display: flex;
  height: 500px;
  justify-content: flex-start;
}

.baner-prev, .baner-next {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 80px;
  color: #57C7B0;
  font-weight: bold;
}

.baner-prev:hover, .baner-next:hover {
  color: white;
}

.baner-body-slide {
  position: relative;
}

.baner-body {
  width: 100%;
  display: none;
  align-items: center;
  padding: 80px 80px 80px 10px;
}

.baner-body-img {
  margin-top: 20px;
}

.baner-body-cnt {
  text-align: center;
  width: 60%;
}

.baner-body-cnt h2 {
  text-transform: uppercase;
  font-size: 35px;
  padding: 50px;
}
h2 strong {
  color: #57C7B0;
}

.baner-body-cnt p {
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 40px;
}

.baner-body-cnt .btn {
  margin: 20px;
}

/*.slider ~ div{
    display: none;
}*/

.slider .visible{
    display: flex;
}

/*BENEFITS------------------------------------------------------------------*/

.benefits {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 60px 0;
}

.benefits-cnt {
  width: 330px;
  position: relative;
  border: 1px solid rgba(0,0,0,0);
  overflow: hidden;
}

.benefits-img {
  height: 226px;
  max-width: none;
  overflow: hidden;
}

.benefits-img img {
  position: relative;
  transition: 0.5s all;
}


.benefits-description {
  transition: 0.5s all;
  background: rgba(255,255,255,0.5);
  left:0;
  width:100%;
  position: absolute;
  top: 120px;

}

.benefits-cnt:hover .benefits-description {
  background: rgba(255,255,255,1);
  top: 0;
  height: 100%;
}


.benefits-header {
  position: absolute;
  top:10px;
  width: 330px;
  transition: 1s;
}

.benefits-text {
  font-size: 15px;
  position: absolute;
  top: 70px;
  padding: 5px 30px 0 30px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  color: rgba(0, 0, 0, 0);
  transition: 0.5s all;
}

.benefits-cnt:hover {
    border: 1px solid grey;
}

.benefits-cnt:hover .benefits-header {
  top:0px;
}

.benefits-cnt:hover .benefits-text {
  height: 130px;
  opacity: 1;
  color: rgba(0, 0, 0, 1);
}

/*OFFER------------------------------------------------------------------*/

.section3 {
  background-color: #F8F8F8;
}


.offer {
  display: flex;
  flex-direction: column;
  padding: 20px 0 40px 0;
}
.offer-plans {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  padding-left: 0;

}

.offer-header h2 {
  background-color: transparent;
}
/*stylowanie ofert - przewieszki -wyglad zewnetrzny--------------------------------------------------*/

.offer-plans-cnt {
  width: 30%;
  height: 500px;
  border: 2px solid #E0E0E0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-top: 50px;
  background-color: white;
}

.offer-plans-cnt h4 {
    width: 100%;
}

.offer-plans-cnt::before {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  border: 2px solid #E0E0E0;
  top:-2%;
  left:50%;
  border-radius: 100%;
  z-index: 1;
  background-color: white;
  transform: translate(-50%,-50%);
}

.offer-plans-cnt::after {
  content: "";
  width: 27px;
  height: 27px;
  position: absolute;
  top:-2%;
  left:50%;
  border-radius: 100%;
  z-index: 2;
  background-color: #E0E0E0;
  transform: translate(-50%,-50%);
}

/*stylowanie zawartosci przewieszek*/

/*polozenie tytulu*/
.offer-plans-cnt h4 {
  text-transform: uppercase;
  color: #57C7B0;
  font-size: 25px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%,-50%);
}

/*stylowanie zawartosci kolka i jego polozenia*/

.offer-price-price {
  width: 100px;
  height: 100px;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  color: #9D9EA3;
  font-size: 38px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%,-50%);

}
.offer-price-price sup {
  font-size: 10px;
  vertical-align: super;

}
.offer-price-price p:last-of-type {
  font-size: 15px;
  text-transform: uppercase;
}

/*stylowanie zawartosci listy i jej polozenia*/
.offer-price li {
  padding: 10px;
}

.offer-price ul {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  color: grey;
  font-size: 20px;
}



.offer-price li:nth-of-type(odd) {
  background-color: #E1E3EF;
}

.offer-price li:nth-of-type(even) {
  background-color: #F8F8F8;
}

/*stylowanie  polozenia i wygladu btn */
.offer-plans-cnt .btn {
  position: absolute;
  top: 440px;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 8%;
}
.offer-plans-cnt .btn a {
  text-decoration: none;
  color: white;
}

.offer-plans-cnt .btn:hover a {
  color: #57C7B0;
}

/*stylowanie wyroznionej przewieszki - klasa special*/



.special .btn:hover {
  border-color: white;
  background-color: #57C7B0;
}

.special .btn:hover a {
  color: white;
}

.special {
  border: 2px solid #57C7B0;
  background-color: #57C7B0;
}

.special:before {
  border: 2px solid #57C7B0;
  background-color: #57C7B0;
}

.special:after {
  background-color: white;
}

.special .offer-price-price {
  background-color: white;
  color:#57C7B0;
  border-color: white;
}

.special .btn {
  background-color: white;
}

.special .btn a {
  color: #57C7B0;
}
.special h4 {
  color: white;
}



/*stylowanie formularza---------------------------------------------------------------*/

.contactUs-form {
  display: flex;
  justify-content: space-between;
}

.contactUs-btn {
  border: 1px solid transparent;
  font-size: 25px;
}

.contactUs-ls {
  width: 600px;
}

.contactUs-ls input, textarea  {
  width: 100%;
  margin: 10px 0;
  padding: 5px 0;
}

.contactUs-rs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactUs-ls input[type="text"],
.contactUs-ls input[type="email"],
.contactUs-ls textarea {
    font-family: 'Raleway', sans-serif;
    border:1px solid #A1E6D1;
    height:65px;
    padding:15px;
    width: 100%;
    margin-top:28px;
    font-weight: 300;
    font-size: 24px;
}

.contactUs-ls textarea {
    height:195px;
    resize: none;
    color: #C9C9C9;
    margin-bottom: 30px;
}

.contactUs-ls ::-webkit-input-placeholder {
    color: #C9C9C9;
}
.contactUs-ls ::-moz-placeholder {
    color: #C9C9C9;
}
.contactUs-ls :-ms-input-placeholder {
    color: #C9C9C9;
}
.contactUs-ls :-moz-placeholder {
    color: #C9C9C9;
}



.checkbox-text {
  color: #C9C9C9;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  margin: 10px 0 30px 0;
  width: calc(100% - 120px);
}

.agreement {
  overflow: hidden;
  position: relative;
  display: inline-block;
  padding: 30px 0px 30px 80px ;
}
.agreement input {
  position: absolute;
  left: -10000px;
}
.agreement input ~ .checkbox-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #A1E6D1;
}

.agreement input:checked ~ .checkbox-icon {
  background: url(../images/form_ok.jpg) center center no-repeat;
}


/*stylowanie stopki ---------------------------------------------------------------*/

.stopka {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 20px 0;
  color: #CCCCCC;
}

.stopka-rs {
  display: flex;
  justify-content: space-between;
}
